body {

background-repeat: no-repeat;
  background-attachment: fixed;
 
font-familt: Monospace;
background-image: url("./images/bg.png");



}

.resume {
	border-radius: 50px;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;


}

.resume:hover {
  background-color: green;

}

.h2
{
	 color: blue;
}
.nav-link
{
	 color: black;
}

.navbar
{
background-color: white;
box-shadow: 4px 2px 6px;

}

.navlogo
{

  max-width: 50px;

}

.profile
{
	max-width: 300px;
}




.aboutme
{

position: relative;
overflow: inherit;
min-width: 50%;
max-width: 90%;
margin-left: 5%;
margin-top: 7%;

}

.aboutcontent
{


margin-top: 10%;
height: 100%;
margin-bottom: 10%;
position: relative;
overflow: inherit;
min-width: 50%;
max-width: 90%;

}


.abouttext3
{
margin-left: 1%;
font-size: 18px;

}

.devtools	
{

	text-align: center;
 	border-radius: 25px;
  border: 2px solid blueviolet;
  padding: 20px;
  height: 60%;
  margin-right: auto;
  margin-top: 20%;
  max-width: 400px;
  overflow: hidden;
  box-shadow: 4px 2px 6px;
}

.projects
{
 	border-radius: 25px;
  border: 2px solid blueviolet;
  padding: 20px;
  height: 60%;
  box-shadow: 4px 2px 6px;
 	min-width: 10%;
  max-width: 200px;


}



.itask-img
{
	
	border-radius: 25px;
  border: 2px solid blueviole;
  align-content: center;
  padding: 20px;
  height: 200px;
  box-shadow: 4px 2px 6px;
  min-width: 200px;



}

.jumbotron
{
	background-color: black;

}

/*Message*/

.message
{
	height: 200%;
	width: 100%;
	
}

/*Dropdown Concerns*/
.dropbtn {
  background-color: lightgreen;
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none;
  width: 100%

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: lightblue;}

.dropbtn {border-radius: 12px;}

.sbutton
{
  border-radius: 60px;
  background-color: DodgerBlue;
  border: none;
  color: white;
	width: 30%;
  font-size: 20px;
  

 }

 /*Modal Design*/

  .modal-confirm {		
		color: #636363;
		width: 325px;
		margin: 30px auto;
	}
	.modal-confirm .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;


	}
	.modal-confirm .modal-header {
		border-bottom: none;   
        position: relative;
	}
	.modal-confirm h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -15px;
	}
	.modal-confirm .form-control, .modal-confirm .btn {
		min-height: 40px;
		border-radius: 3px; 
	}
	.modal-confirm .close {
        position: absolute;
		top: -5px;
		right: -5px;
	}	
	.modal-confirm .modal-footer {
		border: none;
		text-align: center;
		border-radius: 5px;
		font-size: 13px;
	}	
	.modal-confirm .icon-box {
		color: #fff;		
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -70px;
		width: 95px;
		height: 95px;
		border-radius: 50%;
		z-index: 9;
		background: #82ce34;
		padding: 15px;
		text-align: center;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	}
	.modal-confirm .icon-box i {
		font-size: 58px;
		position: relative;
		top: 3px;
	}
	.modal-confirm.modal-dialog {
		margin-top: 80px;

	}
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		background: #82ce34;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
        border: none;
    }
	.modal-confirm .btn:hover, .modal-confirm .btn:focus {
		background: #6fb32b;
		outline: none;

	}

	.modal-body
	{
		margin-bottom: 4%;

	}

	.modal-dialog
	{
		margin-bottom: 4%;
		

  padding: 20px;

-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
	}


/*section*/




.
button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}

/* logoS */
.logo {
  position: relative;
  overflow: hidden;
 
}

.logo-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.logo-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.logo-container::-webkit-scrollbar {
  display: none;
}

.logo-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.logo-image {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.logo-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


